doctype html
html
  head
    title Coffee House
    block scripts
    block style
  body
      nav#navbar
        ul
          div#logo
            img(src="../static/img/logo.png")
            | Coffee House
            li #[a(href="/") Home]
            li #[a(href="/") About ]
            li #[a(href="/") Services ]
            li #[a(href="/") Class Info ]
            li #[a(href="/contact") Contact Us]
block content
    footer#footer
       | © Copyrights 2019 - 2023 Coffee House || All Rights Reserved.